body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: black;
}

.container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

h1 {
  text-align: center;
  color: #333;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin: 10px 0 5px;
}

input, select, button[type="submit"] {
  padding: 10px;
  margin: 5px 0 20px;
  border-radius: 4px;
  width: 70%;
  margin-left: 3px;
  border: 1px solid #ccc;
}

button[type="submit"] {
  background-color: #28a745;
  color: #fff;
  cursor: pointer;
  border: none;
  margin-left: 15%;
}

button:hover {
  background-color: #218838;
}

.connectWallet {
  height: 100vh;
  width: 100%;
}

.typingContainer {
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.typing {
  font-family: "Inconsolata", Consolas, monospace;
  font-weight: 800;
  font-size: 4em;
  color: white;
  width: 550px;
  overflow: hidden;
  white-space: nowrap;
  text-decoration: none;
  letter-spacing: 0.05em;
}

.walletButtonContainer {
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.walletButton {
  padding: 20px 40px;
  background: none;
  border: none;
  position: relative;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 3px;
  cursor: pointer;
  height: 60px;
  background-color: white;
  color: black;
}

.walletButton:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border: 2px solid #282828;
  transition: transform 0.2s;
}

.walletButton:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border: 2px solid #282828;
  transition: transform 0.2s;
}

.walletButton:after {
  transform: translate(3px, 3px);
}

.walletButton:before {
  transform: translate(-3px, -3px);
}

.walletButton:hover:after {
  transform: translate(0);
}

.walletButton:hover:before {
  transform: translate(0);
}

.claim {
  background-color: #28a745;
  color: #fff;
  cursor: pointer;
  border: none;
  padding: 10px;
  margin: 5px 0 20px;
  border-radius: 4px;
  margin-left: 15%;
  width: 70%;
}